h1 {
  font-style: oblique;
  background-color: rgba(255, 255, 255, 0.904);
  padding: 20px;
  text-align: center;
  font-size: 30px;
  position: relative;
}

h1::after {
  content: "sale";
  position: absolute;
  left: -30px;
  top: -40px;
  background-color: red;
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: white;
  padding: 3px;
}

.sum {
  width: 825px;
  margin: 0 auto;
}
.shoes {
  background-color: white;
  width: 700px;
  margin: 50px;
}
.borders {
  border: 5px solid black;
}
.add-cart {
  background-color: brown;
  width: 700px;
  cursor: pointer;
}
h5 {
  position: relative;
  left: 50px;
}
strong {
  position: relative;
  left: 50px;
  border: 2px solid burlywood;
}
.hello {
  font-size: 20px;
}
button:hover {
  color: antiquewhite;
}
li {
  font-size: 18px;
}

.color1 {
  background-color: black;
  height: 15px;
  width: 10px;
  display: inline block;
}
.color2 {
  background-color: rgb(14, 253, 34);
  height: 15px;
  width: 10px;
  display: inline block;
}
.color3 {
  background-color: rgb(241, 11, 11);
  height: 15px;
  width: 10px;
  display: inline block;
}
.color4 {
  background-color: rgb(230, 9, 250);
  height: 15px;
  width: 10px;
  display: inline block;
}

.color5 {
  background-color: rgb(6, 194, 252);
  height: 15px;
  width: 10px;
  display: inline block;
}
