h1,
h2,
h3,
h4,
p,
ol,
ul {
  font-family: sans-serif;
}

h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

h4 {
  text-align: center;
  font-size: 20px;

  text-transform: uppercase;
}

p {
  font-size: 22px;
  line-height: 1;
}
ol {
  font-size: 20px;
}

ul {
  font-size: 20px;
  font-family: sans-serif;
}
